.menu-button-1 {
  width: 25px;
  height: 25px;
  margin: 20px auto;
  cursor: pointer; }
  .menu-button-1 .bar {
    width: 25px;
    height: 5px;
    background: #fff;
    margin-bottom: 3px;
    margin-left: 0px;
    display: block;
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .menu-button-1 .bar.open:first-child {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .menu-button-1 .bar.open:last-child {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu-button-1 .bar.open:nth-child(2) {
      margin-left: 5px; }

.menu-button-2 {
  width: 25px;
  height: 25px;
  margin: 20px auto;
  cursor: pointer; }
  .menu-button-2 .bar {
    width: 25px;
    height: 5px;
    background: #fff;
    margin-bottom: 3px;
    margin-left: 0px;
    display: block;
    opacity: 1;
    position: absolute;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .menu-button-2 .bar:nth-child(2) {
      margin-top: 8px; }
    .menu-button-2 .bar:nth-child(3) {
      margin-top: 8px; }
    .menu-button-2 .bar:nth-child(4) {
      margin-top: 16px; }
    .menu-button-2 .bar.open:first-child {
      opacity: 0; }
    .menu-button-2 .bar.open:last-child {
      opacity: 0; }
    .menu-button-2 .bar.open:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu-button-2 .bar.open:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }

p {
  margin: 0px; }

body {
  height: 100%;
  background: #2196F3; }
  body .container {
    width: 100%;
    text-align: center;
    padding-top: 200px; }
    body .container div {
      display: inline-block;
      margin: 50px; }
    body .container p {
      color: white;
      font-family: Helvetica;
      font-size: 12px;
      margin-top: 10px; }
      body .container p a {
        color: white; }
    body .container .title {
      font-family: cursive;
      color: white;
      font-size: 35px;
      letter-spacing: 3px; }
    body .container .start-animating-all {
      width: 200px;
      padding: 20px;
      border: 1px solid #fff;
      border-radius: 3px;
      color: white;
      margin: 0 auto;
      cursor: pointer;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    body .container .start-animating-all:hover {
      color: #2196F3;
      background: #fff; }

/*# sourceMappingURL=base.css.map */
