@import "button1";
@import "button2";
p{
  margin: 0px;
}
body{
  height : 100%;
  background: #2196F3;
  .container{
    width: 100%;
    text-align: center;
    padding-top: 200px;
    div{
      display: inline-block;
      margin: 50px;
    }
    p{
      color: white;
      font-family: Helvetica;
      font-size: 12px;
      margin-top: 10px;
      a{
        color: white;
      }
    }
    .title{
      font-family: cursive;
      color: white;
      font-size: 35px;
      letter-spacing: 3px;
    }
    .start-animating-all{
      width: 200px;
      padding: 20px;
      border: 1px solid #fff;
      border-radius: 3px;
      color: white;
      margin: 0 auto;
      cursor: pointer;

      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
    }
    .start-animating-all:hover{
      color: #2196F3;
      background: #fff;
    }
  }
}